:root {
  --contentWidth: 800px;
}
@media (max-width: 1600px) {
  :root {
    --contentWidth: 50vw;
  }
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: var(--contentWidth);
}
