.MainPage-header {
  text-align: center;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.MainPage-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 800px;
}
