.NewPostSection {
  margin: 0.5em;
  width: 100%;
}

.NewPost {
  transition: height 2s;
  height: 0px;
}

.NewPost.show {
  transition: height 2s;
  height: 320px;
  overflow: hidden;
}

.Button {
  width: 100%;
}
